header img {
    max-width: 200px;
}
header {
    display: flex;
    background-color: #054E8F;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

nav {
	background-color: #054E8F;
	text-align: center;
	box-shadow: 0 0 20px #1D1D1D;
    max-width: 90%;
    margin: 0 auto;
    margin-top: .5rem;
    font-family: 'Roboto', sans-serif;
}

nav {
	display: flex;
	flex-direction: column;
}

nav div {
	flex: 1 1 auto;
}

nav a {
	display: block;
	color: white;
	text-align: center;
	padding: 15px;
	text-decoration: none;
	font-size: 0.9rem;
}

nav a:hover {
	background-color: #B4E7E7;
	color: #1D1D1D;
}

header .headings {
    text-align: center;
    padding-top: 2rem;
}

.page-title h1 {
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #1D1D1D;
    padding: 20px;
    padding-bottom: 0;
    margin-bottom: 10px;
    font-size: 44px;
}

.page-title p {
    font-family: 'Times New Roman', serif;
    font-size: 18px;
    margin-left: 250px;
    margin-right: 250px;
    line-height: 1.5;
    border: 2px solid #1D1D1D;
    padding: 2rem;
    text-align: center;
}
hr {
    margin-bottom: 50px;
    max-width: 70em;
}

.tablehead img{
    max-width: 100px;
    margin-left: 20px;
}

table {
    border-collapse: collapse;
    border-spacing: 30px;
    border: 1px solid #1D1D1D;
    margin-bottom: 80px;
}

tr {
    border: 1px solid #1D1D1D;
}

td, th {
    border: 2px solid #1D1D1D;
    padding: 10px;
    max-width: 70em;
    text-align: center;
}

td li {
    text-align: left;
}

.scenarios {
    text-align: center;
    list-style-position: inside;
    border: 2px solid #1D1D1D;
    font-family: 'Merriweather', serif;
}

.scenarios ul {
    line-height: 1.75em;
}

.scenarios h2 {
    font-size: 40px;
}

footer {
    background-color: #054E8F;
    padding: 1rem;
    color: white;
    text-align: center;
    margin-top: 150px;
}

/* Design Page */

.tablesiteheader {
    background-color:#054E8F;
    color: white;
}

.typography {
    margin-left: auto;
    margin-right: auto;
}

.tablesiteheadersample {
    color: white;
    background-color: #054E8F;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
}

.tablenavcolor {
    background-color: #054E8F;
    color: white;
}

.tablenavsample {
    font-size: 0.9rem;
    font-family: 'Roboto', sans-serif;
    background-color: #054E8F;
    color: white;
}

.tableh1 {
    color: #1D1D1D;
}

.tableh1sample {
    font-size: 44px;
    color: #1D1D1D;
    font-family: 'Merriweather', serif;
}
.tableh2sample {
    font-size: 40px;
    color: #1D1D1D;
    font-family: 'Merriweather', serif;
}

.tableh3sample {
    font-size: 22px;
    color: #1D1D1D;
    font-family: 'Merriweather', serif;
}
.tablepsample {
    font-size: 16px;
    color: #1D1D1D;
    font-family: 'Times New Roman', serif;
}

@media (min-width: 37.5em) {
	nav {
		flex-direction: row;
	}
}
	nav a {
		font-size: 1.1rem;
	}

@media (min-width: 48em) {
    nav a {
        font-size: 1.3rem;
    }
}