
header {
    display: flex;
    background-color: #054E8F;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    align-items: center;    
}

header picture {
    margin-left: 2rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

header .headlogo img {
    border-radius: 100px;
}
li .socialicons {
    border-left: none;
    border-right: none;
}

.headings {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    font-size: .8em;
}
@media (max-width: 341px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .headings {
        margin-top: 0;
        text-align: center;        
    }
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

}

.headings h1 {
    margin-bottom: 0;    
}

.headings,.date{
    margin-left: 1rem;
}

nav {
    display: flex;
	flex-direction: column;
	background-color: #054E8F;
	box-shadow: 0 0 20px #1D1D1D;
    max-width: 100%;
    margin: 0 auto;
    margin-top: .5rem;
    margin-bottom: 2rem;
    font-family: 'Roboto', sans-serif;
   
}


nav ul{
	
    list-style-type: none;
}

nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #fff;
}


nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #fff;
}

nav ul li.active a{
    background-color: rgba(180, 231, 231,.2);
    color: #fff;
}

nav a:hover {
	background-color: rgba(180, 231, 231,.2);
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
    text-align: center;
}

#hamburgerBtn span:nth-child(1) {
    display: block;
}
#hamburgerBtn span:nth-child(2) {
    display: none;
}
#hamburgerBtn.open span:nth-child(1) {
    display: none;
}
#hamburgerBtn.open span:nth-child(2) {
    display: block;
    text-align: left;
    margin-left: 1rem;
}

.page-title {
    text-align: center;
    font-family: "Merriweather", serif;
    color: #1D1D1D;
}

main {
    max-width: 1600px;
    margin: auto;
}

#meeting-banner[style="display:none;"] {
    display: none;
  }
  
#meeting-banner {
    background-color: rgba(180, 231, 231);
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-style: italic;
    font-family: "Merriweather", serif;
    text-align: center;
    border-radius: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.wrapper {
    align-self: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 2rem;
    margin-top: 2rem;
    font-family: 'Merriweather', serif;
    margin-left: 2rem;
    margin-right: 2rem;
}

.event {
    grid-row:2/3;
    background-color: #054E8F;
    position: relative;
    padding-bottom: 1rem;
    text-align: center;
    color: white;
    padding-bottom: 3rem;
}

.event h3 {
    line-height: 1.75;
}

.event p{
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: white;
    margin-bottom: 2rem;
}

.grid-headers {
    color: white;
    font-family: "Merriweather", serif;
    text-align: center;
    margin-top: 1rem;
    margin-left:1rem;
    margin-right: 1rem;
    font-size: 24px;
    margin-bottom: 0;
}

.grid-buttons{
    border-radius: 10px;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1rem;
    text-decoration: none;
    color: #1d1d1d;
    background-color: rgba(180, 231, 231);
    padding-top: .25em;
    padding-bottom: .25em;
    
}

.hero-button {
    position: absolute;
    bottom: 1rem;
    margin-left: 1rem;
    text-decoration: none;
    color: #1d1d1d;
    font-size: .8rem;
    padding: .5rem;
    border-radius: 10px;
    background-color: rgba(180, 231, 231, .8);
}
.hero-button:hover {
    background-color: white;
}

.grid-buttons:hover {
    background-color: white;
}
.hero {
    grid-row: 1/2;
    position: relative;
    background-color: #054E8F;
}
.heropic {
    display: block;
    width: 98%;
    margin: .5rem auto .5rem auto;
    max-width: 800px;
    pointer-events: none;
}

/*  changing for w6 assignment .hero img {
    max-width:100%;   
} */
.welcome {
    position: absolute;
    max-width: 100%;
    top: .25rem;
    left: 2rem;
    color: white;
    text-shadow: 1px 1px 2px #1d1d1d, 0 0 1em #054E8F, 0 0 0.2em #054E8F;
    font-family: "Merriweather", serif;
}


.weather {
    position: relative;
    grid-row: 3/4;
    background-color: #054E8F; 
    padding-bottom: 3rem; 
    color: white;
}
    

.sunshine img {    
    border-radius: 80px;
    pointer-events: none;
}

.weather-temp-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-right: .5rem;
    font-family: "Roboto", sans-serif;
}

.weather-temp-pic h3 {
    margin-left: 1rem;
}

.weather-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.weather-details h3 {
    margin-bottom: 0;
}
.weather-details hr {
    width: 50%;
}
/* was in weather for text but changed .right-text {
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;
    color: white;
    display: inline-block;
    margin: 0 auto;
    line-height: 1px;
    text-align: center;
} */ 

hr {
    width: 80%;
}
.news {
    grid-row: 4/5;
    position: relative;
    max-width: 100%;
    padding-bottom: 1rem;
    background-color: #054E8F;
}
.news p {
    color: white;
    font-family: "Merriweather", serif;
    margin-left: 1rem;
    margin-right: 1rem;
}

.grid-in-grid {
    display: grid;
    font-family: 'Merriweather', serif;
    grid-row: 5/6;
    position: relative;
    max-width: 100%;
    padding-bottom: .5rem;
    background-color: #054E8F;
}

.business {
    border: #1D1D1D solid 1px;
    text-align: center;
    position: relative;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 95%;
    min-height: 10vh;
    box-shadow: rgba(29, 29, 29, .8) 0px 5px 15px;
    color: white;
}


.business1 {
    margin-bottom: 0;
}

.bus-img {
    max-width: 12rem;
}

.bus-quote {
    font-family: "Roboto", sans-serif;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 0;
    line-height: 1.5;
}

.contact-info{
    line-height: 1.75;
    margin-left: .5rem;
    margin-right: .5rem;
}
.contact-info a{
    text-decoration: none;
    color: #1d1d1d;
    background-color: rgba(180, 231, 231);
    margin-left: .25rem;
    padding:.25rem;
    border-radius: 10px;
}

.contact-info a:hover {
    background-color: white;
}


.business3 {
    display: none;
}

.join {
    display: none;
}

 footer {
    height: auto;
    background-color: #054E8F;
    padding-bottom: .5rem; 
    padding-top: .25rem; 
    margin-top: 4rem; 
    color: white;
}

footer img {
    /* margin-left: 1rem;
    margin-right: 1rem; */
    margin-top: .5rem;
    /* max-height: 4rem; */
}
.footertext{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    max-width: 1600px;
    
}
.footerleft {
    text-align: center;
}

.footerleft h2 {
    margin-bottom: 0;
    
} 
.footerleft h4 {
    margin-top: 0;
    font-style: italic;
}

/* .footerright {
    margin-right: 1rem;
} */

.footerright a {
    color: white;
    text-decoration: none;
    
}
.footerright a img {
    margin-right: 0;
    margin-top: .5rem;
}

footer p {
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
}
hr {
    opacity: .6;
}

/* Discover Page */

.discover .sidebar {
    grid-area: sidebar;
    float: left;
    font-size: 1em;
    display: grid;
    font-family: 'Merriweather', serif;
    position: relative;
    padding-bottom: .5rem;
    background-color: #054E8F;
    margin: 0rem 1rem 1rem 1rem;
}

.discover .business {
    font-size: .5rem;
    padding-left: .5rem;
    padding-right: .5rem;
}


.discover .business a {
    padding: .1rem;
}

.discover .demo-grid {
    grid-area: demo;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0rem 1rem 0 1rem;
    color: #fff;
    text-align: center;
   
    
}

.demo-content {
    padding: .5rem;
    background-color: #054E8F;
    border: #1D1D1D solid 1px;
    

}

.demo-grid a {
    text-decoration: none;
}

.demo-content picture {
    max-width: 100%;
}

.demo-content img {
    max-width: 100%;
}

img[data-srcset] {
    opacity: .5;    
  }
  
img {
    opacity: 1;
    transition: opacity 1s;
  }

  @media screen and (max-width: 500px){

  
.discover-wrapper{
    display: flex;
    flex-direction: column;
}
}

.visits {
    display: block;
    text-align: center;
    margin-top: 2rem;
}

img:hover {
    transform: none;
}

/* Join Page*/
form {
    margin: auto;
    max-width: 1200px;
    font-family: "Roboto", sans-serif;
}
form fieldset {
    margin: 2rem 0;
    border: 1px solid #054E8F;
    border-radius: 25px;
    padding: .5rem 2%;
}

form legend {
    color: #1D1D1D;
    margin: 0 1rem;
    padding: 0 .5rem;
    font-size: 1.3rem;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #054E8F;
    font-size: .9rem;
}



form label.top input {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: 1px solid #999;
    border-radius: 4px;
    padding: .75rem;
    color: #1D1D1D;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(180, 231, 231,.4);
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #1D1D1D;
    font-weight: 600;
}

form input.submitBtn {
    border: none;
    background-color: #B5E8E8;
    color: #1D1D1D;
    font-size: 1.2rem;
    font-weight: 600;
    font-style: italic;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2rem;
    max-width: 24rem;
}
form input.submitBtn:hover {
    border: #054E8F solid 1px;
    transform: scale(1.1);
}

form label.top input:required {
    border-bottom: darkred solid 2px;
}

form label.top input:required:valid {
    border-bottom: darkgreen solid 2px;
}
table {
	border-collapse: collapse;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
th, td {
	padding: 7px 15px;
	border: 1px solid black;
}
.choose {
	background-color: rgba(180, 231, 231,.2);
	font-size: 1.2rem;
    padding: 1rem auto 1rem auto;
    color: #1D1D1D;
    font-family: "Merriweather", serif;
}

/* Directory Page */



.directory-grid section{
    margin: auto;
    padding: 1rem;
    width: 90%;
    background-color: #054E8F;
    border: 1px solid #B5E8E8;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.directory-grid a {
    color: white;
    max-width: 90%;
    text-overflow: ellipsis;
    
}

.directory-grid h4 {
    margin-bottom: 0;
    margin-top: .5rem;
    font-style: italic;
}
.directory-grid p {
    line-height: 1.5rem;
    text-align: center;
    margin: 0 .5rem 0 .5rem;
    max-width: 90%;
    overflow: hidden;
    white-space: nowrap;
}

.spotlight-img {
    max-width: 10rem;
    max-height: 6rem;
    background-color: white;
    padding: 1rem;
}

.menu {
	margin: 1rem auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
    width: 80%;
    border-radius: 20px;
	background-color: #B5E8E8;
	text-align: center;
}

.menu button {
	padding: .5rem;
	font-weight: 700;
}

.list {
	display: flex;
	flex-direction: column;
    text-align: center;
    line-height: 1.6rem;
    color: #1D1D1D;
}

.list section {
	margin: 0;
	padding: 1rem;
}

.list section img {
	display: none; /* smaller viewports only */
}

.list section h4 {
	font-size: 1rem;
    text-align: center;
	font-family: Roboto, Helvetica, sans-serif;
}
.list section:nth-child(even) {
	background-color: #B5E8E8;
}


