
header {
    display: flex;
    background-color: #054E8F;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

header picture {
    margin-left: 2rem;
}

li .socialicons {
    border-left: none;
    border-right: none;
}

.headings {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.headings h1 {
    margin-bottom: 0;    
}

.headings,.date{
    margin-left: 1rem;
}

nav {
    display: flex;
	flex-direction: column;
	background-color: #054E8F;
	box-shadow: 0 0 20px #1D1D1D;
    max-width: 100%;
    margin: 0 auto;
    margin-top: .5rem;
    font-family: 'Roboto', sans-serif;
   
}


nav ul{
	
    list-style-type: none;
}

nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #fff;
}


nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #fff;
}

nav ul li.active a{
    background-color: rgba(180, 231, 231,.2);
    color: #fff;
}

nav a:hover {
	background-color: rgba(180, 231, 231,.2);
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
    text-align: center;
}

#hamburgerBtn span:nth-child(1) {
    display: block;
}
#hamburgerBtn span:nth-child(2) {
    display: none;
}
#hamburgerBtn.open span:nth-child(1) {
    display: none;
}
#hamburgerBtn.open span:nth-child(2) {
    display: block;
    text-align: left;
    margin-left: 1rem;
}


.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "event hero spotlights"
       "weather hero spotlights"
       "join news spotlights";
    gap: 2rem;
    margin-top: 2rem;
    font-family: 'Merriweather', sans-serif;
    margin-left: 2rem;
    margin-right: 2rem;
    
}
.box1 {
    grid-area: event;
    border: #054E8F solid;
    background-color: #B4E7E7;
}
.box2 > hero {
    grid-area: hero;   
}

.box3 {
    grid-area: spotlights;
   
}
.box4 {
    grid-area: weather;
}
.box5 {
    grid-area: join;
}
.box6 {
    grid-area: news;
}



 footer {
    height: auto;
    background-color: #054E8F;
    padding-bottom: .5rem; 
    padding-top: .25rem; 
    margin-top: 4rem; 
    color: white;
}

footer img {
    margin-left: 1rem;
    margin-right: 1rem;
    max-height: 4rem;
}
footer .footertext{
    display: flex;
    margin: 1rem;
    justify-content: center;
}


.footerleft h2 {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 2rem;
} 
.footerleft h4 {
    margin-top: 0;
    font-style: italic;
}

.footerright a {
    color: white;
    
}
.footerright a img {
    margin-right: 0;
    margin-top: .5rem;
}

footer p {
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
}
hr {
    opacity: .6;
}