@media only screen and (min-width: 41rem) and (max-width:1023px) {
header{
    display: flex;
    flex-direction: row;
}
.headings {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2;
} 

.headings h1{
    font-size: 2rem;
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "hero hero hero hero"
    "news news news news"
    "spotlights spotlights spotlights spotlights"
    "join join join join"
    "events events events weather";
    gap: 2rem;
    margin-top: 2rem;
    font-family: 'Merriweather', serif;
    margin-left: 2rem;
    margin-right: 2rem;
}

.hero {
    grid-area: hero;
    align-self: center;
}

.hero-button {
    max-width: 12rem;
}

 .news {
    grid-area: news;
    padding-bottom: 2rem;  
   
}

.grid-in-grid {
    grid-area: spotlights; 
    grid-template-areas: "business1 business2";
    height: fit-content;
    
}



.business1 {
    grid-area: business1;
    margin-bottom: 1rem;
}

.business2 {
    grid-area: business2;

}

.join {
    grid-area: join;
    display: grid;
    padding: 1rem;
    background-color: #054E8F;
}

.join a {
    border-radius: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    text-decoration: none;
    color: #1d1d1d;
    background-color: rgba(180, 231, 231);
    padding: .5rem 3rem .5rem 3rem;
    
}

.join a:hover {
    background-color: white;
}

.join p {
    color: white;
    text-align: center;
}
.event {
    grid-area: events;
   
}

.weather {
    grid-area: weather;
    
} 

.weather img {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.weather-temp-pic {
    margin-left: 2rem;
    margin-right: 3rem;
} 
.bus-img {
    transition: all .2s ease-in-out;
}
.bus-img:hover {
    transform: scale(1.1);
}

.footertext {
    display: flex;
    flex-direction: row;
    
}
footer img {
    margin-top: -1.8rem;
    margin-right: .8rem;
}
.footerleft {
    display: flex;
    flex-direction: column;
    text-align: left;

}
.footerright {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2;
    text-align: right;
    margin-left: 3rem;
    margin-right: 2rem;
    
}

}
    
    
    